<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title> Blog | <%= title %></title>
        <body>
            <nav>
                <div class="site-title">
                    <a href="/"> <h1> Blog Ninja</h1></a>
                    <p> A Net Ninja Site</p>
                </div>
                <ul>
                    <li> <a href="/"> Blogs</a> </li>
                    <li> <a href="/about"> About </li>
                        <li> <a href="/blogs/create"> New Blog </a> </li>
                </ul>
            </nav>

            <div class="about content"> 
                <h2> About us </h2>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere in reprehenderit amet, deleniti, ut necessitatibus quia enim sed eaque totam minus aliquid impedit soluta nesciunt, voluptate ea excepturi saepe adipisci.</p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere in reprehenderit amet, deleniti, ut necessitatibus quia enim sed eaque totam minus aliquid impedit soluta nesciunt, voluptate ea excepturi saepe adipisci.</p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere in reprehenderit amet, deleniti, ut necessitatibus quia enim sed eaque totam minus aliquid impedit soluta nesciunt, voluptate ea excepturi saepe adipisci.</p>
            </div> 
        </body>
    </head>
</html>